<!--HEADER-->
<% include partials/header.ejs %>

<!--CONTENT-->
<p>As you've probably figured, there's far more to game development than simply<br/>
writing code ("simply" depending on your point of view). Any game project,<br/>
no matter how big or small, benefits greatly from planning and designing. <br/><br/>
Experience, learning proper coding etiquette and structure, and storyboarding <br/>
go a long way. But it's helpful to look into resources from experts. These links<br/>
detail many resources than can be helpful to any aspiring game developer.</p>

<ul>
	<li><a href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/">The Art of Game Design, by Jesse Schell</a></li>
	<li><a href="http://gameaccessibilityguidelines.com/">Game Accessibility Guidelines</a></li>
	<li><a href="http://www.hobbygamedev.com/digests/">HobbyGameDev (notes and interviews)</a></li>
</ul>
<!--FOOTER-->
<% include partials/footer.ejs %>