<!--HEADER-->
<% include partials/header.ejs %>

<p>Reload this page to generate your own (nonsensical) video game story! The results won't amount to much, but you never know where your next big inspiration may come from.<br/><br/>But it's probably not here.<hr/></p>
<p><%- generatedText %></p>
	
<!--FOOTER-->
<% include partials/footer.ejs %>