<!--HEADER-->
<% include partials/header.ejs %>

<!--CONTENT-->
<figure>
	<img src="img/pac-man.png" alt="Screenshot from Pac-Man"/>
	<br/>
	It's pretty unlikely that you haven't seen Pac-Man before. This game was programmed in Assembly years ago. Taken from  
	<a href="http://www.pixelatedarcade.com/screenshots/26647">PixelatedArcade</a>
</figure>
<br/>

<p>In this website, you will find basic information about common information pertaining to game 
development and design resources. Click any link on the left navigation bar to select a topic of 
interest. Note that all game engines described here are free or have free versions.<br/><br/>
I would like to emphasize that the information is basic, and there are far more nuanced answers 
with more thorough information in the resources provided.</p>
	
	
<!--FOOTER-->
<% include partials/footer.ejs %>