<!DOCTYPE html>
<html>
<!--
Anthony Davis
CST336
HW1
July 2, 2019
-->

    <head>
		<meta charset="utf-8" />
		<title>Game Software Programming - Home</title>
		<link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
		<header>
			<h1><b>Game Software Programming</b></h1>
		</header>
		
		<!-- Main content -->
		<main>
			<section>
			
			<!-- Navigation Bar -->
			<nav>
				<ul>
					<li><a href="index.php"><b>Home</b></a></li>
					<li><a href="languages.php">Programming<br />Languages</a></li>
					<li><a href="engines.php">Commercial<br />Engines</a></li>
					<li><a href="design.php">Game Design</a></li>
					<li><a href="resources.php">Resources</a></li>
				</ul>
			</nav>
			
				<figure>
					<img src="img/pac-man.png" alt="Screenshot from Pac-Man"/>
					<br/>
					It's pretty unlikely that you haven't seen Pac-Man before. This game was programmed in Assembly years ago. Taken from  
					<a href="http://www.pixelatedarcade.com/screenshots/26647">PixelatedArcade</a>
				</figure>
				<br/>
				
				<p>In this website, you will find basic information about common information pertaining to game 
				   development and design resources. Click any link on the left navigation bar to select a topic of 
				   interest. Note that all game engines described here are free or have free versions.<br/><br/>
				   I would like to emphasize that the information is basic, and there are far more nuanced answers 
				   with more thorough information in the resources provided.</p>
			</section>
		</main>
		
        <footer>
			<hr>
				CST336 Internet Programming. 2019&copy; Davis <br />
				<a href="https://csumb.edu/"><img src="img/csumb_logo.png" alt="CSU Monterey Bay logo" /></a>
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->
</html>