<!--HEADER-->
<% include partials/header.ejs %>

<!--CONTENT-->
<p>Game Design</p>
<ul>
	<li><a href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/">The Art of Game Design, by Jesse Schell</a></li>
	<li><a href="http://gameaccessibilityguidelines.com/">Game Accessibility Guidelines</a></li>
	<li><a href="http://www.hobbygamedev.com/digests/">HobbyGameDev (notes and interviews)</a></li>
	<li><a href="https://tensquaregames.com/2018/01/books-you-should-read-if-you-want-to-become-a-game-designer/">
	Other books<br/><img src="img/design.jpg" alt="Game design graphic, from tensquaregames.com"/></a></li>
</ul>
<br />
<hr />

Game Engines<br/>
<ul>
<li><a href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/">The Art of Game Design, by Jesse Schell</a></li>
<li><a href="http://gameaccessibilityguidelines.com/">Game Accessibility Guidelines</a></li>
<li><a href="http://www.hobbygamedev.com/digests/">HobbyGameDev (notes and interviews)</a></li>
</ul>
<br />
<hr />


Game Programming Languages<br/>
<ul>
<li><a href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/">The Art of Game Design, by Jesse Schell</a></li>
<li><a href="http://gameaccessibilityguidelines.com/">Game Accessibility Guidelines</a></li>
<li><a href="http://www.hobbygamedev.com/digests/">HobbyGameDev (notes and interviews)</a></li>
</ul>
<br />

<!--FOOTER-->
<% include partials/footer.ejs %>